@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2:400,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,500;1,500&display=swap');

body{
  background: radial-gradient(circle, rgba(189,181,218,0.5) 3%, rgba(196,175,219,0.5) 21%, rgba(226,152,224,0.5) 53%, rgba(148,187,233,0.5) 86%);
  float: left;
  position: relative;
  left: 20%;
  margin-top: 100px;
  margin-left: 120px;
  width: 70%;

}

.sidebar{
  position: fixed;
  width: 15%;
  width: 180px;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 80px;
  margin-top: 30px;

}

.sidebar a{
  display: block;
  padding: 10px 10px;
  color: rgb(25, 34, 62);
  text-decoration: none;
  text-decoration: solid;
  font-size: 15px;
  font-family: 'Ultra', serif;

  align-items: center;
  margin-right:10px;
  margin-left: 10px;
  margin-top:10px;
  border-right: 5px solid ;

}

.sidebar a:hover{
  color: rgb(246, 59, 31);
  background-color: rgba(255, 235, 59, 0.75);

}




 


