@import
 url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
  margin: 65px;
  width: 85%;
  float: left;
  position: relative;
  left:10%
}

.sidebar{
position: fixed;
width: 15%;
top: 0;
left: 0;
bottom: 0; 
margin-left: 20px;
margin-top: 30px;

}

a{
display: block;
padding: 10px 20px;
color:#111  
text-decoration: none;
text-decoration: solid; 
font-family: sans-serif;
  
}

.content{
 float: left;
  width: 70%
 }

.content{
 font-family: 'Rubik'
}

.circle{
 height: 80px;
  width: 80px;
  display: inline-block; 
  background-color: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 6%, rgba(252,70,107,1) 100%);
  border-radius: 50%;
  
}

.circle.one{
 background-color: rgb(63,94,251);
}

.circle.two{
background-color: rgb(70,12,201)
}

.circle.three{
background-color: rgb(9,40,231)
}
