      @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

      @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

      @import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2:400,600,700&display=swap');


  body{
  background-color: rgb(14, 15, 10,);
  float: left;
  position: relative;
  left: 20%;
  margin-top: 100px;
  margin-left: 120px;
  width: 70%;

}

.sidebar{
  position: fixed;
  width: 15%;
  width: 180px;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 80px;
  margin-top: 30px;

}

.sidebar a{
  display: block;
  padding: 10px 10px;
  color: rgb(220, 14, 14);
  text-decoration: none;
  text-decoration: solid;
  font-size: 15px;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 2px rgb(0, 10, 192);
  align-items: center;
  margin-right:10px;
  margin-left: 10px;
  margin-top:10px;

}

.sidebar a:hover{
  color: rgb(255, 235, 59);
  background-color: rgba(65, 1, 90, 0.75);

}

.content{
 float: left;
 width: 70%

 }

.content{
 font-family: 'Rubik'
}

.circle{
  height: 8px;
  width: 8px;
  background-color: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 6%, rgba(252,70,107,1) 100%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 4px;



}

.circleone{
  height: 8px;
  width: 8px;
 border-radius: 50%;
 display:inline-block;
 background-color: rgb(131,58,180);
 background: radial-gradient(circle, rgba(131,58,180,1) 12%, rgba(253,29,29,1) 58%, rgba(253,82,43,1) 75%, rgba(252,176,69,1) 92%);
 margin-left: 4px;



}

.circletwo{
 background: radial-gradient(circle, rgba(34,193,195,1) 8%, rgba(152,190,114,1) 52%, rgba(253,187,45,1) 85%);
 height: 8px;
 width: 8px;
 border-radius: 50%;
 display:inline-block;
 margin-left: 4px;


}

.circlethree{
 background: radial-gradient(circle, rgba(189,181,218,1) 3%, rgba(196,175,219,1) 21%, rgba(226,152,224,1) 53%, rgba(148,187,233,1) 86%);
 height: 8px;
 width: 8px;
 border-radius: 50%;
 display:inline-block;
 margin-left: 4px;


}
.circlefour{
  background: radial-gradient(circle, rgba(36,0,32,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 94%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display:inline-block;
  margin-left: 4px;

}

.circlefive{
  background: radial-gradient(circle, rgba(252,233,57,1) 11%, rgba(252,176,69,1) 37%, rgba(253,82,43,1) 72%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display:inline-block;
  margin-left: 4px;

}
.circlesix{
  background: radial-gradient(circle, rgba(227,148,233,1) 19%, rgba(247,33,53,1) 37%, rgba(152,195,226,1) 64%, rgba(167,223,18,1) 83%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display:inline-block;
  margin-left: 4px;

}

.circleseven{
  background: radial-gradient(circle, rgba(233,224,16,1) 28%, rgba(0,212,255,1) 62%, rgba(58,152,235,1) 87%, rgba(52,105,218,1) 91%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display:inline-block;
  margin-left: 4px;
}

.circleeight{
  background: radial-gradient(circle, rgba(242,241,67,1) 0%, rgba(252,146,70,1) 33%, rgba(164,63,251,1) 92%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display:inline-block;
  margin-left: 4px;
}


 


